<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>    
    <ion-title>Lista de Tutores</ion-title>
    <ion-buttons slot="end">
      <ion-item class="filter-item">
        <ion-label class="filter-label">Filtrar por Especialidad </ion-label>
        <ion-select interface="popover" [(ngModel)]="filterSpeciality" (ionChange)="applyFilter()" placeholder="  Seleccionar especialidad">
          <ion-select-option value="">  Limpiar Filtro</ion-select-option>
          <ion-select-option *ngFor="let speciality of specialities" [value]="speciality">{{speciality}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Tutores</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item *ngIf="!filteredTutors?.length">
      <ion-label>No hay tutores disponibles</ion-label>
    </ion-item>
    <ion-card *ngFor="let tutor of filteredTutors; let i = index; trackBy: trackById">
      <ion-card-header>
        <ion-card-title>{{i + 1}}. {{tutor.first_name}} {{tutor.last_name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="grid-container">
          <div class="grid-item"><strong>ID:</strong> {{tutor.id}}</div>
          <div class="grid-item"><strong>Email:</strong> {{tutor.email}}</div>
          <div class="grid-item"><strong>Fecha de Nacimiento:</strong> {{tutor.date_of_birth}}</div>
          <div class="grid-item"><strong>Nacionalidad:</strong> {{tutor.nationality}}</div>
          <div class="grid-item"><strong>Especialidad:</strong> {{tutor.speciality}}</div>
          <div class="grid-item"><strong>Creado el:</strong> {{tutor.created_at}}</div>
          <div class="grid-item"><strong>Actualizado el:</strong> {{tutor.updated_at}}</div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
